# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# log
app.log
/app.log
./app.log

# Frontend build directory
/frontend/build/
/frontend/node_modules/

# Dependency directories
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
